# Local .terraform directories and files
**/.terraform/*
.terraform*

!.terraformrc

# .tfstate files
*.tfstate
*.tfstate.*

# own secret vars store.
personal.auto.tfvars


terraform.tfvars

tfplan

hosts.ini

vector_role

lighthouse-role

my_own_namespace
08-ansible-06-module/ansible
